{% set pageTitle = pageTitle|default('A Park') ~ " | " ~ siteName %}
{% set pageDescription = pageDescription|default('A Park') %}
{% set htmlLang = currentSite.language ?? 'hu' %}

<!DOCTYPE html>
<html class="no-js h-full" lang="{{ htmlLang }}">
<head>
  <meta charset="utf-8" />
  <title>{{ pageTitle }}</title>

  {# Engedjük a nagyítást! #}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="title" content="{{ pageTitle }}">
  <meta name="description" content="{{ description|default(pageDescription) }}">
  {% if keywords is defined %}<meta name="keywords" content="{{ keywords }}">{% endif %}
  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="1 Month">
  <meta name="distribution" content="local">
  <meta name="language" content="HU">
  <meta name="rating" content="general">
  <meta name="color-scheme" content="light dark">

  {# világos/sötét téma szín (PWA címsor) #}
  <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
  <meta name="theme-color" content="#000000" media="(prefers-color-scheme: light)">

  <link rel="shortcut icon" href="{{ siteUrl }}favicon.ico">

  {# OG #}
  {% if ogTitle is defined %}<meta property="og:title" content="{{ ogTitle }}">{% endif %}
  {% if ogDescription is defined %}<meta property="og:description" content="{{ ogDescription }}">{% endif %}
  {% if imgOg is defined %}
    <meta property="og:image" content="{{ siteUrl|slice(0,-1) }}{{ imgOg }}">
  {% endif %}

<link rel="stylesheet" href="{{ alias('@web') }}/styles-data/css/out.css?v={{ now|date('U') }}">
<script type="module" src="{{ alias('@web') }}/styles-data/js/main.js?v={{ now|date('U') }}"></script>

  <script src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?always=1&showNoConsent=1"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {# no-js → js #}
  <script>document.documentElement.classList.remove('no-js');document.documentElement.classList.add('js');</script>

  {% set Local = currentSite.language %}
</head>